.editRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.editImg {
    height: .75rem;
}
.placeholder{
    color: #B2B2B2; 
}
.textedit{
    min-width: 40rem;
}
@media (max-width:510px) {
    .editRow{
        display:flex;
        flex-direction: row;
    }
    .editButton{
        width:20%;
        border:1px solid red;
    }


      }